body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    width: 80%;      
    text-align: left;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;

    width: 80%;
    gap: 20px;
}

.card{
    border: 1px solid black;
    width: 23%;
    text-align: center;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

 @media screen and (max-width:1000px) {
    .card{
        width: 48%;
    }
}

 @media screen and (max-width:800px) {
    .card{
        width: 100%;
    }
}