body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

.table-bordered, 
.table-bordered td, 
.table-bordered th {
    border: 1px solid gray !important; 
}
