body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 30px;
}

button {
    background-color: #00a65a;
    color: white;
    height: 50px;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.here {
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}

.header {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    height: 70px;
}

.link {
    display: flex;
    gap: 35px;
}

p {
    font-weight: 200px;
}

.container {
    display: flex;
    width: 80%;
    gap: 20px;
}

.card {
    border: 1px solid rgba(81, 81, 81, 0.682);
    width: 23%;
    text-align: center;
}

.pic {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.back {
    font-size: 20px;
}