@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

/* 
.t1 {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.t2{
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;

}

.t3 {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(234, 232, 232, 0.434);
}

.icon {
    height: 1.2em;
    width: auto;
    display: block;
}

.Headicon {
    display: block;
    height: 2.3em;
    width: auto;
}

.navbar {
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 1000;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(206, 194, 193, 0.907);

    width: 100vw;
    height: 70px;
    gap: 15px;
    padding-left: 20px;

}

.header {
    font-family: "Taviraj", serif;
    font-weight: 300;
    font-style: normal;
}

.header-link {
    text-decoration: none;
    color: rgb(27, 24, 24);
}



.header-link:hover {
    text-decoration: underline;
    text-decoration-color: #ff7f50;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;

    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

    min-height: 30vh;

    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(12, 12, 12, 0.373);
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

h2 {
    font-family: "Mitr", sans-serif;
    font-weight: 500;

    color: rgb(27, 24, 24);
}

.footer {
    background-color: rgb(27, 24, 24);
    color: white;
    margin-top: 70px;

    width: 100vw;
    display: block;
    overflow: hidden;

}

.footer-container {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 100px;
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    box-sizing: border-box;
}


.footer-right {
    padding-top: 30px;
    margin-top: 26px;
}

.footer-middle {
    margin-top: 17px;
    margin-left: 10px;
}

.ref-info {
    display: grid;
}

.info-item {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.reference {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.footer-allRef {
    display: none;
}


@media screen and (max-width: 1200px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
        margin: 10%;
        margin-top: 30px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
        margin: 50px;
    }

    .footer-right,
    .footer-middle {
        display: none;
    }

    .footer-allRef {
        display: grid;
    }
}

@media screen and (max-width: 700px) {
    .card-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        padding: 20px 0;
        width: 100%;
    }

    .footer-right,
    .footer-middle {
        display: none;
    }

    .footer-allRef {
        display: grid;
        margin-top: 70px;
    }
}