@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

.t1 {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.t2,
.header {
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;

}

.t3 {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.t4 {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(240, 240, 240);
}

.top-left {
    display: flex;
    gap: 40px;
    text-align: left;
}

.topInfo {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: oklch(66.221% 0.1862 36.124);
    color: white;

    padding: 10px 40px;
    align-items: center;
    min-height: 20px;
}

.top-right {
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    gap: 10px; 
}

.icon {
    height: 1.2em;
    width: auto;
    display: block;
}


.navbar {
    display: flex;
    background-color: rgb(255, 243, 234);
    color: rgb(255, 255, 255);
    margin: 0%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.menu {
    font-size: 17px;
    display: flex;
    gap: 50px;
    list-style: none;
}


.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(255, 247, 2);
}

@media screen and (max-width: 1300px) {
    .topInfo {
        display: none;
    }

    .bottomInfo{
        display: block;
    }
}