<div class="container py-5">
    <h1 class="mb-4">User Form</h1>
    <div>
        <div class="col-md-6">
            <form action="/submit" method="GET" >
                <div class="mb-3">
                    <label class="form-label">ID:</label>
                    <input type="text" name="ID" class="form-control" placeholder="กรุณากรอก ID" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">First Name:</label>
                    <input type="text" name="FirstName" class="form-control" placeholder="กรุณากรอกชื่อ" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Last Name:</label>
                    <input type="text" name="LastName" class="form-control" placeholder="กรุณากรอกนามสกุล" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Username:</label>
                    <input type="text" name="Username" class="form-control" placeholder="กรุณากรอก Username" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input type="email" name="Email" class="form-control" placeholder="example@mail.com" required>
                </div>

                <div class=" mt-4">
                    <button type="submit" class="btn btn-success px-5">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>