<!-- home.ejs -->
<!doctype html>
<html lang="en">

<%- include("head") %>

    <body>
        <div class="container">
            <!-- heaher -->
            <%- include("header") %>
            <!-- Content -->
        </div>

        <!-- footer -->
        <%- include("footer") %>

    </body>

</html>