body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

.content {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.food-image {
    width: 400px;
    height: 400px;
    border: 8px solid #a3a3a3a5;
    border-radius: 4px;
    object-fit: cover;
}

.info-section {
    line-height: 1.6;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000;
}

ul {
    margin: 0 0 20px 0;
    padding-left: 20px;
}

.back {
    margin-top: 40px;
    font-size: 18px;
}

a{
    color: blue;
    font-weight:bolder;
}
