<div class="container mt-5 border-bottom pb-4 mb-4">
    <h1 class="mb-4 fw-bold">ðŸ“¦ à¸£à¸°à¸šà¸šà¸•à¸´à¸”à¸•à¸²à¸¡à¸„à¸³à¸ªà¸±à¹ˆà¸‡à¸‹à¸·à¹‰à¸­</h1>
    <form action="/formget" method="GET">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="customer_name" class="form-control" placeholder="à¸Šà¸·à¹ˆà¸­à¸¥à¸¹à¸à¸„à¹‰à¸²" required>
            </div>
            <div class="col-md-4">
                <input type="text" name="product_name" class="form-control" placeholder="à¸£à¸²à¸¢à¸à¸²à¸£à¸ªà¸´à¸™à¸„à¹‰à¸²" required>
            </div>
            <div class="col-md-4">
                <input type="text" name="address" class="form-control" placeholder="à¸—à¸µà¹ˆà¸­à¸¢à¸¹à¹ˆ" required>
            </div>
            <div class="col-md-4 mt-3">
                <input type="text" name="tel" class="form-control" placeholder="à¹€à¸šà¸­à¸£à¹Œà¹‚à¸—à¸£" required>
            </div>
            <div class="col-md-4 mt-3">
                <button type="submit" class="btn-green">à¹€à¸žà¸´à¹ˆà¸¡à¸„à¸³à¸ªà¸±à¹ˆà¸‡à¸‹à¸·à¹‰à¸­</button>
            </div>
        </div>
    </form>
</div>