<!-- home.ejs -->
<!doctype html>
<html lang="en">

<body>
    <h1 class="mb-4 fw-bold">ระบบติดตามคำสั่งซื้อ</h1>
    <form action="/formget" method="GET">
        <input type="text" name="customer_name" placeholder="ชื่อลูกค้า">
        <input type="text" name="product_name" placeholder="รายการสินค้า">
        <input type="text" name="tel" placeholder="เบอร์โทร">
        <button type="submit" class="btn-green">Submit</button>
    </form>
    <div class="container mt-5">
        <h2 class="mb-4 fw-bold">รายการคำสั่งซื้อ</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ลูกค้า</th>
                    <th>สินค้า</th>
                    <th>สถานะ</th>
                    <th>เปลี่ยนสถานะ</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((item)=> { %>
                    <tr>
                        <td><%= item.ID %></td> 
                        <td><%= item.customer_name %></td>
                        <td><%= item.product_name %></td>
                            <td><select name="status">
                            <option value="รอดำเนินการ">รอดำเนินการ</option>
                            <option value="กำลังจัดส่ง">กำลังจัดส่ง</option>
                            <option value="จัดส่งแล้ว">จัดส่งแล้ว</option>
                            <option value="ยกเลิก">ยกเลิก</option>
                        </select></td>
                        <td><button type="submit" class="btn-green">Submit</button></td>
                        <% }); %>
                    </tr>
            </tbody>
        </table>
    </div>
</body>

</html>