    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: #833AB4;
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 20px;
        background: linear-gradient(90deg, rgba(255, 38, 38, 1) 0%, rgba(255, 179, 0, 1) 13%, rgba(237, 221, 83, 1) 27%, rgba(90, 255, 54, 1) 41%, rgba(54, 168, 255, 1) 59%, rgba(218, 54, 255, 1) 78%, rgba(255, 54, 191, 1) 93%);
        padding: 20px;
        /*background-clip: text;*/
    }

    .line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(255, 38, 38, 1) 0%, rgba(255, 179, 0, 1) 13%, rgba(237, 221, 83, 1) 27%, rgba(90, 255, 54, 1) 41%, rgba(54, 168, 255, 1) 59%, rgba(218, 54, 255, 1) 78%, rgba(255, 54, 191, 1) 93%);

    }

    .menu li a {
        font-weight: 900;
        color: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(255, 38, 38, 1) 0%, rgba(255, 179, 0, 1) 13%, rgba(237, 221, 83, 1) 27%, rgba(90, 255, 54, 1) 41%, rgba(54, 168, 255, 1) 59%, rgba(218, 54, 255, 1) 78%, rgba(255, 54, 191, 1) 93%);

    }

    table,
    td,
    tr {
        border-bottom: 1px solid rgb(97, 82, 82);
        border-collapse: collapse;
        background: linear-gradient(90deg, rgba(255, 38, 38, 1) 0%, rgba(255, 179, 0, 1) 13%, rgba(237, 221, 83, 1) 27%, rgba(90, 255, 54, 1) 41%, rgba(54, 168, 255, 1) 59%, rgba(218, 54, 255, 1) 78%, rgba(255, 54, 191, 1) 93%);
        background-clip: text;
        color: transparent;
        font-weight: 900;

    }

    h1 {
        background: #2A7B9B;
        background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
        background-clip: text;
        color: transparent;
    }

    p {
        background: #3F5EFB;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        background-clip: text;
        color: transparent;
    }